{% extends "base.html" %}
{% block scripts %}
<script>
    $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for item in qs %}'{{item.hour}}',{% endfor %}],
                datasets: [{
                    label: 'Temperature',
                    data: [{% for item in qs %}'{{item.temp}}',{% endfor %}],
                    backgroundColor: [
                        'rgba(135,206,235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(30,144,255, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                     borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });

</script>
{% endblock scripts %}
{% block content %}
<div class="card-panel cyan lighten-5 center">
	<h1>{{ weather.city }}</h1>
	<h4>{{ weather.weather_main }}</h4>
	<h1>{{ weather.temp }}°</h1>
	<h6>Do: {{ weather.temp_max }}° Od: {{ weather.temp_min }}°</h6>
	<h6>Odczuwalne</h6>
	<h6>{{ weather.feels_like }}°C</h6>
	<h6>Ciśnienie</h6>
	<h6>{{ weather.pressure }} hPa</h6>
	<canvas id="myChart" width="200" height="50"></canvas>
</div>
{% endblock content %}